<div id="genre-map" class="mt-3"></div>
<h1><%= @genre.name %> Events</h1>
<br>

<div class="card-deck">

  <% @events.each do |event| %>
    <% if event.date != nil && event.date >= Time.now %>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3 d-flex">

        <!-- INDIVIDUAL EVENT SLOT -->
        <div class="card">
          <% if event.images.any? %>
            <img class="card-img-top" src="<%= event.images.sixteen_by_nine.first.url %>" alt="Card image cap">
          <% elsif event.image %>
            <%= image_tag event.image.card.url, class: "card-img-top" %>
          <% else %>
            <%= image_tag "default-placeholder-1024x1024-960x540.png", class: "card-img-top"%>
          <% end %>

          <!-- EVENT'S DESCRIPTION -->
          <div class="card-body">
            <h4 class="card-title"><%= event.name %></h4>
            <% if event.date %>
              <p class="card-text"><small class="text-muted"><%= event.pretty_date %></small></p>
              <p class="card-text"><small class="text-muted"><%= event.pretty_time %></small></p>
            <% end %>
          </div>

          <!-- EVENT'S BUTTON -->
          <div class="card-footer">
            <a id="event<%= event.id %>" href="<%= event_path(event.id) %>" class="btn btn-dark">More Details</a>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>  <!-- END OF @EVENTS LOOP -->
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["MAPS_KEY"]%>&callback=genreShowMap" async defer></script>

<%= paginate @events, window: 1, outer_window: 1, left: 1, right: 1 %>
