<div class="jumbotron mb-0">
  <h1 class="display-3">Welcome, <%= @user.name %>!</h1>
  <p class="lead"><%= link_to "Edit your Profile", edit_user_path(@user) %></p>
  <hr class="my-4">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <% if @user.avatars.card.url %>
        <%= image_tag @user.avatars.card.url %>
      <% else %>
        <p>Missing picture</p>
      <% end %>
    </div>

    <!-- Favourite Genre -->
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <h1>Favourite Genres</h1>
      <ul class="list-group pre-scrollable favourite-list">
      <% if @user.genres.any? %>
        <% @user.genres.each do |genre| %>
        <li class="list-group-item">
          <%= link_to genre.name, genre_path(genre) %>
          <%= link_to "Delete", "#", class: "delete-genre", id: genre.id %>
        </li>
        <% end %>
      <% else %>
        <li class="list-group-item">
          <p>You currently don't have any favourite genres</p>
        </li>
      <% end %>
      </ul>
    </div>

    <!-- List of my events -->
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
      <h1>Events</h1>
      <ul class="list-group pre-scrollable events-list">
        <% if @user.events.any? %>
          <% @user.events.each do |event| %>
            <li class="list-group-item">
              <a href="<%= event_url(event) %>"><%= event.name %></a>
              <p><%= event.pretty_date %> @ <%= event.pretty_time %></p>
            </li>
          <% end %>
        <% else %>
          <li class="list-group-item">
            <p>You haven't created any events yet</p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
