

<div class="container">

  <div class="row">

    <div class="col-md-4">
      <%= image_tag @user.avatar.url(:medium) %>
      <h2>Name: <%= @user.name %> </h2>
      <p>email: <%= @user.email %></p>
      <%= link_to "Edit", edit_user_path(@user) %>

    </div>

    <div class="col-md-8">
      <h2>Your events</h2>
      <% @user.events.each do |event| %>
        <p>Name: <%= event.name %></p>
        <p>When: <%= event.pretty_date %> @ <%= event.pretty_time %></p>
        <p>Name: <%= event.venue.name %></p>
      <% end %>
      <hr>
      <h2>favorites</h2>
    </div>

  </div>

</div>
