
<div class="container my-3 mx-auto">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "alert alert-warning text-center", role: "alert" %>
  <% end %>

  <%= form_for event, url: events_path, html: { multipart: true } do |f| %>
    <div class="form-group">
      <%= f.text_field :name, {class: "form-control", placeholder: "Enter Event name"} %>
    </div>
    <div class="form-group">
      <%= f.datetime_select :date, min: Date.today, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.file_field :image, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.collection_select :artist_id, Artist.order(:name), :id, :name, {prompt: "Select Artist"}, {class: "form-control"} %>
    </div>
    <div class="form-group">
      <%= f.collection_select :venue_id, Venue.order(:name), :id, :name, {prompt: "Select Venue"}, {class: "form-control"} %>
    </div>
    <%= f.submit class: "btn btn-dark" %>

  <% end %>
</div>
