<h1>All Events</h1>

<div class="card-deck">
  <% @events.each do |event| %>
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex">
    <div class="card mb-3">
      <% if event.images.any? %>
        <img class="card-img-top" src="<%= event.images.sixteen_by_nine.first.url %>" alt="Card image cap">
      <% else %>
        <%= image_tag "default-placeholder-1024x1024-960x540.png", class: "card-img-top"%>
      <% end %>
      <div class="card-body">
        <h4 class="card-title"><%= event.name %></h4>
        <% if event.date %>
          <p class="card-text"><small class="text-muted"><%= event.pretty_date %></small></p>
          <p class="card-text"><small class="text-muted"><%= event.pretty_time %></small></p>
        <% end %>
        <p class="card-text"><small class="text-muted"><%= event.venue.address_1 %></small></p>
      </div>
      <div class="card-footer">
        <a href="<%= event_path(event.id) %>" class="btn btn-dark">More Details</a>
      </div>
    </div>
  </div>
  <% end %>
</div>

  <%= paginate @events, window: 1, outer_window: 1, left: 1, right: 1 %>
