<h1>Events</h1>

<div class="navbar navbar-light bg-light">
  <%= form_tag(@event, method: :get, class: "form-inline") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search", class: 'form-control mr-sm-2'%>

    <%= submit_tag 'Search', name: nil, class: 'btn btn-outline-success my-2 my-sm-0' %>
      <% if params[:search]%>
        <%= link_to 'Clear', root_url, class: 'btn btn-default', role: 'button' %>
      <% end %>
    <% end %>

</div>

    <% if params[:search] && @events.empty? %>
    <div class="alert alert-info" role="alert">No Records found for "<%= params[:search] %>"</div>
    <% end %>

<div class="card-deck">
  <% @events.each do |event| %>
  <div class="col-3">
    <div class="card">
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body">
        <h4 class="card-title">Event<%= event.name %></h4>
        <!-- <p class="card-text"></p> -->
        <p class="card-text"><small class="text-muted"><%= event.date %></small></p>
        <a href="<%= event_path(event.id) %>" class="btn btn-primary">More Details</a>
      </div>
    </div>
  </div>
  <% end %>
</div>
