<div class="jumbotron mb-0">
  <h1 class="display-3"><%= @event.name %></h1>
  <div class="container" id="map-form">
    <%= form_tag events_location_path, method: :post, class: "form-inline", remote: true do %>
    <div class="form-group input-group">
      <%= text_field_tag :postal_code, params[:postal_code], class: "form-control mb-2", placeholder: "Enter Postal Code", id: "postal-code-input" %>
      <%= submit_tag(value = "Save changes", options= {class: "btn btn-primary input-group-addon mb-2"}) %>
    </div>
    <% end %>
  </div>
    <div id="map"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <% if @event.images.any? %>
        <img src="<%= @event.images.sixteen_by_nine.first.url %>" alt="<%=@event.name %>" class="img-fluid mx-auto">
        <% elsif @event.image_file_name != nil %>
          <%= image_tag @event.image.url(:medium), class: "img-fluid mx-auto" %>
        <% end %>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <% if @event.date %>
        <p class="lead"><strong>When:</strong> <%= @event.pretty_date %> @ <%= @event.pretty_time %></p>
        <% end %>
        <% if @event.artist %>
        <p class="lead"><strong>Who's Palying:</strong> <%= link_to @event.artist.name, artist_path(@event.artist) %></p>
        <% end %>
        <% if @event.venue %>
        <p><strong>Where:</strong> <%= link_to @event.venue.name, venue_path(@event.venue) %></p>
        <p><%=@event.venue.address_1%> <%= @event.venue.address_2 ? @event.venue.address_2 : "" %></p>
        <p><%= @event.venue.city %>, <%= @event.venue.province%> <%= @event.venue.postal_code%></p>
        <% if @event.venue.phone_number %>
        <p><strong>Contact Info:</strong><%= @event.venue.phone_number%></p>
        <%end%>
        <%end%>
        <p class="lead">
          <p><%= link_to "View all events", events_path %>
            <% if @event.genres.any? %>
            | <%= link_to "#{@event.genres.first.name} Events", genre_path(@event.genres.first.id) %>
            <% end %>
            <% if @event.user == current_user && logged_in? %>
            | <%= link_to "Edit this event", edit_event_path(@event) %></p>
            <% end %>
          </p>
      </div>
    </div>
  </div>


</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["MAPS_KEY"]%>&callback=eventShowMap" async defer></script>
