<!-- Page Content -->
    <div class="container">

      <!-- Introduction Row -->
      <h1 class="my-4">The Project</h1>
      <p>Musify is a web app designed to make finding music events easier for the people of Toronto</p>

      <h1 class="my-4">About Us</h1>
      <p><strong>Corey:</strong> </p>
      <p><strong>Zach:</strong> </p>
      <p><strong>Martin: </strong>My passion for web development pushes me to take any challenge as an oportunity to learn, improve, and grow my skills.
        I have dabbled into branding, web design, front and back-end development, WordPress development, and social media.
        To me, web development is not just a job; it's a hobby.</p>
      <p><strong>Antonio:</strong> Born in Venezuela, he made Toronto his home 4 years ago. He lives with the goal of being the best he can, at whatever he puts his mind into. Passionate about creating and sharing, he spends his free time cooking new meals for friends and family.</p>
      <p><strong>Lan:</strong> Growing up in Toronto in the 90s, Lan saw how much the city has changed. Interested in electronics, he'll try to build a DIY with Arduino to automate tasks for his family. While he's not working, he will be walking around Toronto or drive outside of GTAs, taking urban landscape or portrait photograph.</p>


      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">Our Team</h2>
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4 picture_div">
          <%= image_tag 'http://placehold.it/200x200',
          alt:"Corey Cosman",
          class: "rounded-circle img-fluid d-block mx-auto" %>
          <h3>Corey Cosman
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4 picture_div">
          <%= image_tag 'zach.jpg',
          alt:"Zach Job",
          class: "rounded-circle img-fluid d-block mx-auto",
          size: '200x200' %>
          <h3>Zach Job</h3>
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4 picture_div">
          <%= image_tag 'martin.jpg',
          alt:"Martin Maco",
          class: "rounded-circle img-fluid d-block mx-auto",
          size: '200x200'  %>
          <h3>Martin Maco</h3>
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4 picture_div">
          <%= image_tag 'Antonio.jpg',
          alt:"Antonio Manzanares",
          class: "rounded-circle img-fluid d-block mx-auto",
          size: '200x200' %>
          <h3>Antonio Manzanares</h3>
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4 picture_div">
          <%= image_tag 'LanPhanBW_1x1',
          alt:"Lan Phan",
          class:"rounded-circle img-fluid d-block mx-auto"%>
          <h3>Lan Phan</h3>
        </div>

      </div>

    </div>
    <!-- /.container -->
