<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href= "<%= root_path %>" >
    <%= image_tag "Musify.png", size: "50x50", alt: "Musify Logo", class: "d-inline-block align-top" %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Events
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'All Events', events_path, class: "dropdown-item" %>
          <%= link_to 'Create an Event', new_event_path, class: "dropdown-item" %>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="<%= venues_path %>">Venues</a>
      </li>

      <!-- Genre Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Genres
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% Genre.all.order(:name).each do |genre| %>
            <% if genre.events.any? %>
              <%= link_to genre.name, genre_path(genre), class: "dropdown-item" %>
            <% end %>
          <% end %>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= abouts_path %>">About</a>
      </li>
    </ul>

      <!-- My account -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class= "nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup= "true" aria-expanded= "false">
          <% if current_user %>
            Welcome <%= current_user.name %>
          <% else %>
            My Account
          <% end %>
        </a>

        <!-- Login/Logout -->
          <% if current_user %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Logout", :logout, method: :delete, class: "dropdown-item" %>
          </div>
          <% else %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Register", new_user_path, class: "dropdown-item"%>
            <%= link_to "Login", :login, class: "dropdown-item" %>
          </div>
          <% end %>

      </li>
    </ul>
    <%= form_tag(events_path, { :method => :get, class: 'form-inline' } ) do %>
    <div class="form-group input-group">
      <%= text_field_tag :search, params[:search], placeholder: "Search", class: 'form-control mb-2'%>
      <%= submit_tag 'Search', name: nil, class: 'btn btn-outline-success input-group-addon mb-2' %>
      <% if params[:search]%>
      <%= link_to 'Clear', events_url, class: 'btn btn-default', role: 'button' %>
      <% end %>
    </div>
    <% end %>
  </div>
</nav>
