<div class="container m-auto">

  <div class="row search m-auto">
    <div class="col-12 col-sm-12 col-md-10 offset-md-2 col-lg-10 offset-lg-2 col-xl-10 offset-xl-2 py-5">
      <%= form_tag(events_path, { :method => :get, class: 'form-inline' } ) do %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], placeholder: "Search", class: 'form-control mr-2'%>
          <%= submit_tag 'Search', name: nil, class: 'btn btn-outline-success' %>
          <% if params[:search]%>
          <%= link_to 'Clear', events_url, class: 'btn btn-default', role: 'button' %>
          <% end %>
        </div>

        <% end %>
    </div>
  </div>
</div>

<% if params[:search] && @events.empty? %>
<div class="alert alert-info" role="alert">No Records found for "<%= params[:search] %>"</div>
<% end %>
