<!DOCTYPE html>
<html>
  <head>
    <title>Musify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href= "<%= root_path %>" >
        <%= image_tag "Nav-Logo.png", size: "46x40", alt: "Musify Logo", class: "d-inline-block align-top" %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="<%= events_path %>">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= venues_path %>">Venues</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Genres
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% Genre.all.order(:name).each do |genre| %>
                <% if genre.events.any? %>
                  <p> <%#=link_to genre.name, genre_path(genre)%></p>
                  <%= link_to genre.name, genre_path(genre), class: "dropdown-item" %>
                  <!-- <a class="dropdown-item" href="#">Action</a> -->
                <% end %>
              <% end %>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= abouts_path %>">About</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="navbar navbar-light bg-light">
      <%= form_tag(events_path, { :method => :get,  :class => "form-inline" } ) do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search", class: 'form-control mr-sm-2'%>

        <%= submit_tag 'Search', name: nil, class: 'btn btn-outline-success my-2 my-sm-0' %>
          <% if params[:search]%>
            <%= link_to 'Clear', root_url, class: 'btn btn-default', role: 'button' %>
          <% end %>
        <% end %>
    </div>

    <% if params[:search] && @events.empty? %>
    <div class="alert alert-info" role="alert">No Records found for "<%= params[:search] %>"</div>
    <% end %>


    <%= yield %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <%# console %>


    <!-- Footer -->
    <footer class="py-3 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Bitmaker &copy; Musify 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button> 
   </body>
